body {
  color: whitesmoke;
  font-size: 1.5em;
  line-height: 1.6;
  background: black;
  overflow-x: hidden;
  font-family: Lucida Console; 
}

label .menu {
  position: absolute;
  right: -100px;
  top: -100px;
  z-index: 100;
  width: 200px;
  height: 200px;
  background: black;
  border-radius: 50% 50% 50% 50%;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  box-shadow: 0 0 0 0 black, 0 0 0 0 black;
  cursor: pointer;
  
}

label .hamburger {
  position: absolute;
  top: 135px;
  left: 50px;
  width: 30px;
  height: 2px;
  background: #587aa7;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

label .hamburger:after, label .hamburger:before {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #69d2e7;
}

label .hamburger:before { top: -10px; }

label .hamburger:after { bottom: -10px; }

label input { display: none; }

label input:checked + .menu {
  box-shadow: 0 0 0 100vw rgb(35, 149, 153), 0 0 0 100vh #FFF;
  border-radius: 0;
  
}

label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  
}

label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
  
}

label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
  
}

label input:checked + .menu + ul { opacity: 1; }

.hamburger-menu ul {
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: .25s 0s ease-in-out;
  transition: .25s 0s ease-in-out;
}

.hamburger-menu a {
  margin-bottom: 1em;
  display: block;
  color: black;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
}

/* Home page */
.profile-image-wrapper {
    width: 30%;
    float: left;
    border: 20px solid black;
    margin: 40px 80px 0px 80px;
}

.introduction-wrapper {
    display: inline;
    margin: 0 0 0 1px;
}

.introduction-header {
    color: lightskyblue;
    margin: 30px 0 5px 0;
}

.introduction-paragraph {
    font-size: 25px;
    margin: 0 200px 0 0;
}

.links-header {
    color: lightskyblue;
    margin: 30px 0 5px 0;
}

.links-paragraph {
    font-size: 25px;
    margin: 0 200px 0 0;
}


.contact-header {
    color: lightskyblue;
    margin: 30px 0 5px 0;
}

.contact-paragraph {
    font-size: 25px;
    margin: 0 200px 0 0;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
}

.link-wrapper {
    color: lightskyblue;
}

/* Gallery View */

* {
    box-sizing: border-box;
  }
  
  img {
    vertical-align: middle;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 12.5%;
    padding-bottom: 100px;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

  .gallery-wrapper {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .gallery-header {
    text-align: center;
    color: lightskyblue;
  }
/* Projects page */


/* References page */