
body {
    margin: 0px;
    font-family: "Courier";
}


.container {
    display: grid;
    grid-template-columns: 1fr;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;
}

.right-side {
    font-size: 1.3em;
    font-weight: bold;
}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 1.3em;
    text-transform: uppercase;
}


.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

.active-nav-link {
    border-bottom: 1px solid black;
}

.active-nav-link a {
    border-bottom: black !important;
}

/* Home page */
.profile-image-wrapper {
    width: 450px;
    float: left;
    border: 20px solid black;
    margin: 40px 80px 0px 80px;
}

.introduction-wrapper {
    display: inline;
}

.introduction-header {
    color: black;
    margin: 30px 0 5px 0;
}

.introduction-paragraph {
    font-size: 20px;
    margin: 0 200px 0 0;
}

.links-header {
    color: black;
    margin: 30px 0 5px 0;
}

.links-paragraph {
    font-size: 20px;
    margin: 0 200px 0 0;
}


/* Projects page */


/* References page */